.footer {
  .container {
    margin-top: 50px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 80px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #262626;
  }

  .copyright {
    font-size: 14px;
    line-height: 16px;
    color: #747474;
  }

  .logo {
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.4em;
    text-transform: uppercase;

    &.active {
      cursor: default;
      pointer-events: none;
    }
  }

  .social {
    flex-basis: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    a {
      display: inline-flex;
      width: 26px;
      height: 26px;
      align-items: center;
      justify-content: center;

      svg path {
        transition-property: fill;
        transition-duration: $transition-default-duration;
      }

      &:hover {
        svg path { fill: $accent-color; }
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .footer {
    .container {
      margin-top: 0;
      padding-bottom: 30px;
      flex-direction: column;
    }

    .copyright { order: 3; }

    .logo {
      order: 1;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 8px;
      margin-bottom: 10px;
    }

    .social {
      order: 2;
      flex-basis: auto;
      margin-bottom: 15px;
      min-width: 120px;
    }
  }
}
