@keyframes slideFromLeft {
  0%   { left: -2000px; }
  100% { left: 0; }
}

.header {
  position: relative;
  z-index: 2;
  &__mobile-menu { display: none; }
  &__burger { display: none; }

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1685px;
    padding-top: 50px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;

    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
    }

    a {
      font-family: 'Manrope';
      color: #fff;
    }
  }

  &__nav {
    margin-top: 5px;

    li {
      margin-bottom: 5px;

      a {
        font-weight: 600;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        &:hover {
          color: $text-color;
          text-shadow: 1px 1px 10px $accent-color;
        }

        &.active {
          color: $accent-color;
          pointer-events: none;
        }
      }
    }
  }

  &__logo {
    display: block;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: 8.5px;
    margin-left: auto;
    margin-right: 108px;
    margin-top: -3px;

    &.active {
      cursor: default;
      pointer-events: none;
    }
  }

  &__links {
    display: flex;

    li {
      margin-left: 40px;

      a {
        font-weight: bold;
        font-size: 17px;
        line-height: 22px;

        &:first-child {
          font-weight: normal;
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: $laptop-breakpoint) {
  .header {
    &__container {
      padding-top: 20px;
      padding-bottom: 20px;
      align-items: center;
    }

    &__nav { flex-basis: 150px; }

    &__logo {
      margin-right: 0;
      margin-left: 0;
    }

    &__links {
      flex-basis: 180px;
      display: flex;
      flex-direction: column;

      li {
        margin-left: 0;
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .header {
    &__logo {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 8px;
    }

    &__nav    { display: none; }
    &__links  { display: none; }

    &__burger {
      display: block;
      position: relative;
      width: 24px;
      height: 24px;
      cursor: pointer;
      border: 2px solid #fff;

      &::before, &::after {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -5px;
        display: block;
        width: 10px;
        height: 2px;
        background-color: #fff;
        transition: all $transition-default-duration;
      }

      &::before { top: 6px; }
      &::after { bottom: 6px; }

      &.open {
        &::before, &::after {
          top: 50%;
          margin-top: -1px;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }

        // show menu when burger click
        & + .header__mobile-menu {
          display: flex;
          animation-name: slideFromLeft;
          animation-duration: $transition-default-duration;
          animation-delay: 20ms;
          animation-fill-mode: both;
        }
      }
    }


    // mobile menu
    &__mobile-menu {
      background-color: rgba(17,17,23, .98);
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      position: absolute;
      z-index: -1;
      top: 0;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      left: -2000px;
      min-height: calc(100vh);

      .mobile-nav {
        max-width: 295px;
        margin-top: -150px;

        li {
          padding: 25px 0;
          border-bottom: 1px solid #262626;

          &:last-child { border-bottom: 0; }
        }

        a {
          font-family: 'Druk Wide Medium';
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.05em;
          text-transform: uppercase;

          &.active {
            cursor: default;
            color: $accent-color;
            pointer-events: none;
          }

          &:hover {
            color: $text-color;
            text-shadow: 1px 1px 10px $accent-color;
          }
        }
      }

      .mobile-links {
        width: 300px;
        margin-left: -150px;
        position: absolute;
        left: 50%;
        right: 0;
        bottom: 44px;

        li {
          margin-bottom: 10px;

          &:first-child {
            a { font-weight: normal; }
          }
        }

        a {
          font-weight: bold;
          font-size: 18px;
          line-height: 25px;
        }
      }
    }
  }
}
